/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
/* Global styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Default font family */
    background-color: #333; /* Dark background color */
    color: #fff; /* Text color */
    min-height: 100vh; /* Ensure the body takes at least the height of the viewport */
    position: relative; /* Set body position to relative for absolute positioning of footer */
}

.container {
    width: 80%; /* Width of the content container */
    margin: auto; /* Center align the container */
}

header {
    background: #222; /* Darker background for the header */
    padding: 20px 0; /* Adjusted padding */
}

header h1 {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    line-height: 1; /* Ensure proper line height */
    font-family: 'Arial Black', sans-serif; /* Updated font for the header */
}

nav ul {
    float: right;
    list-style: none;
    margin-top: -40px; /* Adjusted top margin for better alignment */
}

nav ul li {
    display: inline-block;
    vertical-align: middle; /* Align the buttons vertically in the middle */
}

nav ul li:not(:first-child) {
    margin-left: 10px; /* Adjusted left margin for spacing */
}

nav ul li a {
    font-family: 'Arial', sans-serif; /* Updated font for navigation links */
    color: #fff;
    text-decoration: none;
    padding: 10px 15px; /* Add padding to the buttons for spacing */
    border: 1px solid transparent; /* Add border for better visibility */
    display: inline-block; /* Added to ensure proper alignment */
    font-size: 16px; /* Adjust font size */
    font-weight: bold; /* Make the font bold for emphasis */
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Change background color on hover */
}


section {
    padding: 50px 0;
}

section h2 {
    margin-bottom: 20px;
}

footer {
    background: #222; /* Darker background for the footer */
    text-align: center;
    padding: 20px 0;
    position: absolute; /* Position the footer absolutely */
    bottom: 0; /* Stick the footer to the bottom */
    width: 100%; /* Make the footer span the entire width */
}
